@font-face {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url("../assets/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Bold.woff") format("woff");
}

  